*.bat
*.sh

LICENSE.txt

temp/*
runtime/*
reobf/*
logs/*
lib/*
jars/*
forge/*
eclipse/*
docs/*
conf/*
bin/*

src/minecraft/cpw/*
src/minecraft/net/minecraft/*
src/minecraft/net/minecraftforge/classloading/*
src/minecraft/net/minecraftforge/common/*
src/minecraft/net/minecraftforge/client/*
src/minecraft/net/minecraftforge/event/*
src/minecraft/net/minecraftforge/liquids/*
src/minecraft/net/minecraftforge/oredict/*
src/minecraft/net/minecraftforge/transformers/*
src/minecraft/paulscode/*
src/minecraft/ibxm/*

src/minecraft/Start.java

src/minecraft/mcpmod.info
src/minecraft/mcp.png
src/minecraft/forge_logo.png
src/minecraft/forge_at.cfg
src/minecraft/fmlversion.properties
src/minecraft/fml_marker.cfg
src/minecraft/fml_at.cfg
build_number.properties
