# Make various Block related things public
public net.minecraft.block.Block$Properties *()

public net.minecraft.block.Block field_181083_K # materialColor

public net.minecraft.block.BlockStairs <init>(Lnet/minecraft/block/state/IBlockState;Lnet/minecraft/block/Block$Properties;)V #BlockStairs
public net.minecraft.block.BlockDoor <init>(Lnet/minecraft/block/Block$Properties;)V # BlockDoor
public net.minecraft.block.BlockFarmland <init>(Lnet/minecraft/block/Block$Properties;)V # BlockFarmland
public net.minecraft.block.BlockGrassPath <init>(Lnet/minecraft/block/Block$Properties;)V # BlockGrassPath
public net.minecraft.block.BlockTrapDoor <init>(Lnet/minecraft/block/Block$Properties;)V # BlockTrapDoor
public net.minecraft.block.BlockButtonWood <init>(Lnet/minecraft/block/Block$Properties;)V # BlockButtonWood
public net.minecraft.block.BlockPressurePlate <init>(Lnet/minecraft/block/BlockPressurePlate$Sensitivity;Lnet/minecraft/block/Block$Properties;)V # BlockPressurePlate
